body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
 }
 .flex-container{
    background: linear-gradient(lightblue, aqua, green);
    font-family: 'Oswald', sans-serif;
    color: white;
 }
 h2{
   -webkit-text-stroke: 1px black;
 }
 p{
   -webkit-text-stroke: 1px black;
   font-size: 28px;
   text-align: center;
 }
 .logo{
    width: 50%;
    margin-top: 50px;
    margin-left: 25%;
    align-items: center;
    text-align: center;

 }
 .gif{
    border: 5px dashed blue;
    width: 75%;
 }
 .naslovnidiv{
    padding: 5%;
 }
 .drugilijevi{
    text-align: center;
   align-items: center;
 }
 .tuto{
    width: 50%;
    text-align: center;
    margin-left: 25%;
 }
 .podnaslov{
    font-size: 60px;
    text-align: center;
 }
 a.mint{
    display: block;
    padding-top: 50%;
    margin: 0 auto;
align-items: center;
    text-align: center;
   border-radius: 8px;
   width: 500px;
   height: 60px;
   background-color: rgb(181, 174, 174);
   color: black;
   padding: 10px 12px;
   border: none;
   cursor: not-allowed;
   font-size: 20px;
   box-shadow: grey -1px 0px 20px 14px;
   list-style: none;
   text-decoration: none;
 }